
.history{
    background: url(image.yalla/history-hero-img.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}









.nav-between li a{
  
      text-decoration: none;
  }
  
  .nav-between li{
      list-style-type: none;
  }
  
  .nav-end li a{
      text-decoration: none;
     
  }
  
  .nav-end li{
      list-style-type: none;
  }
  
  .nav-link{
      color: var(--neutral-0-white, #FFF);

/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
  }



.navbar-brand span:hover {
color: white;
}























/* X-Small devices (portrait phones, less than 576px)

// No media query for `xs` since this is the default in Bootstrap*/
.navbar-brand:hover {
  color: #FFF;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 375px) { 

  .container-fluid {
    margin: 0px 10px;
   
  }

  .navbar{
    display: flex;

  }
  .navbar:hover{
    color:#FFF
  }


  .history{
    background-position: center;
  }

  .nav-end{
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  .navbar-brand{
    color: #FFF;
  font-family: "Poppins";
  font-size: 20.936px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 margin-top: 0px;
  }

  .nav-end .search{
    margin: 0px 16px;
  }
  
  

  .summer-history{
    display: flex;
    justify-content: center;
    flex-flow: column;
  
}

.text-history h1{
  color: var(--neutral-0-white, #FFF);
text-align: center;
margin-top: 170px;
/* Font Website/Display/Semi Bold */
font-family: "Inter";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 100.8px */
padding: 0px;

}

.text-history p{
  color: var(--neutral-100, #E5E5E6);
text-align: center;

margin-top: 24px;
margin-bottom: 171px;
padding: 0px 20px;
/* Font Website/H2/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */

}

.text-our h2{
  color: var(--text-main-text, #121212);
margin-top: 60px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}


.text-our p{
  color: var(--text-secondary-text, #808080);
text-align: center;

margin-top: 24px;
padding: 0px 20px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

 .img-our{
 
 margin-top: 64px;
  
}

.img-our .car-desert{
  width: 334px;
  height: 232px;
  flex-shrink: 0;
  border-radius: 16px;
background: url(image.yalla/car-desert.png), lightgray 50% / cover no-repeat;
}

.img-our .travell-road{
  margin-top: 24px;
  width: 334px;
  height: 232px;
  flex-shrink: 0;
  border-radius: 16px;
background: url(image.yalla/teavell-road.png), lightgray 50% / cover no-repeat;
}

.text-values h2{
  color: var(--text-main-text, #121212);
margin-top: 60px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-values p{
  color: var(--text-secondary-text,#676879 );
text-align: center;
margin-top: 24px;

padding: 0px 20px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

.text-values .img-values{
 
  margin-top: 56px;
  
}

.visa-values{
  width: 334px;
height: 285px;
flex-shrink: 0;
border-radius: 16px;
background: url(image.yalla/visa-values.png), lightgray 50% / cover no-repeat;
}

.map{
  width: 334px;
height: 305px;
flex-shrink: 0;
border-radius: 16px;
background: url(image.yalla/map.png), lightgray 50% / cover no-repeat;
margin-top: 24px;
}

.airplane-values{
  width: 334px;
height: 285px;
flex-shrink: 0;
border-radius: 16px;
background: url(image.yalla/airplane-values.png), lightgray 50% / cover no-repeat;
margin-top: 24px;
}

.text-team h2{
  color: var(--text-main-text, #121212);
margin-top: 76px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-team p{
  color: var(--text-secondary-text, #676879);
text-align: center;
margin-top: 24px;

padding: 0px 20px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */

}

.person-1{
  background: url(image.yalla/person-1.png);
  width: 160px;
height: 207px;
flex-shrink: 0;
border-radius: 16px;
background-size: cover;
margin-top: 14px;

}

.person-2{
  background: url(image.yalla/person-2.png);
 width: 160px;
height: 207px;
flex-shrink: 0;
border-radius: 16px;
background-size: cover;


}



.person-3{
  background: url(image.yalla/person-3.png);
  width: 160px;
height: 207px;
flex-shrink: 0;
border-radius: 16px;
background-size: cover;



}


.person-4{
  background: url(image.yalla/person-4.png);
  width: 160px;
height: 207px;
flex-shrink: 0;
border-radius: 16px;
background-size: cover;


}



.team-1{
  justify-content: space-evenly;
  margin: 42px auto;
  margin-bottom: 0px;
  padding: 0px;
}

 
.person{
  display: flex;
  justify-content: end;
  flex-flow: column;
  padding: 0px;
  margin-top: 14px;
  
}


.person .ceo{
  margin-bottom: 13px;
  margin-left: 12px;
  margin-top: 0px;
  padding: 0px;
}


.ceo h6{
  color: var(--neutral-0-white, #FFF);



/* Font Responsive/H2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
}

.ceo p{
  color: var(--neutral-0-white, #FFF);
padding: 0px;
margin: 0px;
/* Font Website/Body 2/Regular */
font-family: "Inter";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 25.2px */
}

.team-2{
  justify-content: space-evenly;
  margin: 0px;
  margin-bottom: 0px;
}




.text-partner h2{
  color: var(--text-main-text, #121212);
margin-top: 60px;
  /* Font Website/H1/Semi Bold */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 67.2px */
}

.text-partner p{
  color: var(--text-secondary-text, #808080);
margin-top: 24px;
margin-bottom: 0px;
padding: 0px;
/* Font Website/Body 1/Regular */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

.Partner-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 62px auto;
  margin-bottom: 0px;
}

.Partner-1 svg{
  width: 82px;
height: 21px;
flex-shrink: 0;

}


.Partner-2 svg{
  width: 100px;
  height: 20px;
  flex-shrink: 0;

}

.Partner-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 47px auto;
  margin-bottom: 0px;
}


footer{
  margin-top: 60px;
  text-align: center;
}

footer .title-yalla{
  margin-top: 32px;
}




.yalla-footer {
  text-decoration: none;
  color: var(--neutral-0-white, #FFF);
font-family: "Poppins";
font-size: 20.988px;
font-style: normal;
font-weight: 700;
line-height: normal;


}
.location{
  color: var(--text-secondary-text, #808080);
margin-top: 21px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */

}

.social-media h5{
  color: var(--neutral-0-white, #FFF);
margin-top: 32px;
/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */

}


.icon{
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.iicon{
  margin-left: 77px;
  
}

.list-icon{
  display: flex;
  justify-content: start;
  margin-top: 16px;
}


.menu-footer {
list-style-type: none;
margin-top: 34px;
padding: 0px;
}

.menu-footer li{
  margin-top: 13px;
  padding: 0px;
  
}

.menu-footer a{
  color: var(--text-secondary-text, #808080);
text-decoration: none;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.menu-footer-2{
  list-style-type: none;
  margin-top: 15px;
  padding: 0px;
}


.menu-footer-2 li{
  margin-top: 13px;
  padding: 0px;
}

.menu-footer-2 a{
  color: var(--text-secondary-text, #808080);
text-decoration: none;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */

}

.email{
  margin-top: 20px;
}

.email h6{
  color: var(--neutral-0-white, #FFF);

/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height:
140%; /* 28px */
}

.email p{
  color: var(--text-secondary-text, #808080);
margin-top: 16px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.footer-app{
  margin-top: 36px;
  padding-bottom: 62px;
}

.footer-app p{
  color: var(--neutral-0-white, #FFF);
padding: 0px;
margin: 0px;
/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
}

.footer-app .btn{
  color: var(--text-main-text, #121212);
border-radius: 30px;
padding: 15px 56px;
/* Font Website/Body 2/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
margin-top: 16px;
}


hr{
  width: 100%;
height: 3px;
flex-shrink: 0;
background: #808080;

}

.terms{
 margin-top: 9px;
 justify-content: center;
 flex-flow: column-reverse;
 padding-bottom: 17px;
}




.terms p{
  color: var(--text-secondary-text, #808080);
margin-top: 33px;

/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.terms span{
  color: var(--text-secondary-text, #808080);
margin-top: 0px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */



}



}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

.history{
  background-position: auto;
}


  .container-fluid {
    margin: 0px 40px;
   
  }

  .nav-end{
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .nav-between{
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  .navbar-brand{
    color: var(--neutral-0-white, #FFF);
  font-family: "Poppins";
  font-size: 20.936px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 margin-top: 0px;
  }

  .nav-between .link-2{
    margin: 0px 20px;
  }

  .nav-end .search{
    margin-left: 20px;
    margin-right: 0px;
  }
  
  .nav-link{
    color: var(--neutral-0-white, #FFF);

/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.summer-history{
  display: flex;
  justify-content: center;
  flex-flow: column;

}

.text-history h1{
  color: var(--neutral-0-white, #FFF);
text-align: center;
margin-top: 170px;
/* Font Website/Display/Semi Bold */
font-family: "Inter";
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 100.8px */
padding: 0px;

}

.text-history p{
  color: var(--neutral-100, #E5E5E6);
text-align: center;
width: 700px;
margin-top: 24px;
margin-bottom: 200px;
padding: 0px;
/* Font Website/H2/Regular */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */

}


.text-our h2{
  color: var(--text-main-text, #121212);
margin-top: 80px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-our p{
  color: var(--text-secondary-text, #808080);
text-align: center;
width: 700px;
margin-top: 24px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

.img-our{
  display: flex;
  justify-content: space-between;
  margin: 52px auto;
  margin-bottom: 0px;
  padding: 0px;
}

.img-our .car-desert{
  width: 350px;
  height: 309px;
  flex-shrink: 0;
  border-radius: 16px;
background: url(image.yalla/car-desert.png), lightgray 50% / cover no-repeat;

}

.img-our .travell-road{
margin-top: 0px;
  width: 350px;
  height: 309px;
  flex-shrink: 0;
  border-radius: 16px;
background: url(image.yalla/teavell-road.png), lightgray 50% / cover no-repeat;

}

.text-values h2{
  color: var(--text-main-text, #121212);
margin-top: 52px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-values p{
  color: var(--text-secondary-text, #808080);
text-align: center;
margin-top: 24px;
width: 700px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

.text-values .img-values{
  display: flex;
  justify-content: space-between;
  margin: 52px auto;
  margin-bottom: 0px;
}

.visa-values{
  width: 220px;
height: 199px;
flex-shrink: 0;
border-radius: 16px;
background: url(image.yalla/visa-values.png), lightgray 50% / cover no-repeat;
}

.map{
  width: 240px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
background: url(image.yalla/map.png), lightgray 50% / cover no-repeat;
margin-top: 0px;
}

.airplane-values{
  width: 220px;
height: 199px;
flex-shrink: 0;
border-radius: 16px;
background: url(image.yalla/airplane-values.png), lightgray 50% / cover no-repeat;
margin-top: 0px;
}

.text-team h2{
  color: var(--text-main-text, #121212);
margin-top: 52px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-team p{
  color: var(--text-secondary-text, #808080);
text-align: center;
margin-top: 24px;
width: 700px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

.person-1{
  background: url(image.yalla/person-1.png);
  width: 165px;
height: 264px;
flex-shrink: 0;
border-radius: 16px;
background-size: cover;

}

.person-2{
  background: url(image.yalla/person-2.png);
 width: 165px;
height: 264px;
flex-shrink: 0;
border-radius: 16px;
background-size: cover;
}



.person-3{
  background: url(image.yalla/person-3.png);
  width: 165px;
height: 264px;
flex-shrink: 0;
border-radius: 16px;
margin-top: 0px;
background-size: cover;
}


.person-4{
  background: url(image.yalla/person-4.png);
  width: 165px;
height: 264px;
flex-shrink: 0;
border-radius: 16px;
margin-top: 0px;
background-size: cover;
}

.team-1{
  justify-content: space-between;
  margin: 52px auto;
  margin-bottom: 0px;
}

.person{
  display: flex;
  justify-content: end;
  flex-flow: column;
  padding: 0px;
  margin: 0px;
}

.person .ceo{
  margin-bottom: 20px;
  margin-left: 24px;
  margin-top: 0px;
  padding: 0px;
}

.ceo h6{
  color: var(--neutral-0-white, #FFF);



/* Font Responsive/H2/Medium */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
}

.ceo p{
  color: var(--neutral-0-white, #FFF);
padding: 0px;
margin: 0px;
/* Font Website/Body 2/Regular */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 25.2px */
}

.team-2{
  justify-content: space-between;
  margin: 22px auto;
  margin-bottom: 0px;
}

.text-partner h2{
  color: var(--text-main-text, #121212);
margin-top: 84px;
  /* Font Website/H1/Semi Bold */
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 67.2px */
}

.text-partner p{
  color: var(--text-secondary-text, #808080);
margin-top: 24px;
margin-bottom: 0px;
padding: 0px;
/* Font Website/Body 1/Regular */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}


.Partner-1 svg{
  width: 96.788px;
  height: 96.154px;
  flex-shrink: 0;

}


.Partner-2 svg{
  width: 96.788px;
height: 96.154px;
flex-shrink: 0;

}

.Partner-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



footer{
  margin-top: 80px;
  
}

footer .row .col-12{
  margin-top: 40px;
  padding-bottom: 40px;
  text-align: start;
}

.yalla-footer {
  text-decoration: none;
  color: var(--neutral-0-white, #FFF);
font-family: "Poppins";
font-size: 24.988px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0px;

}

.location{
  color: var(--text-secondary-text, #808080);
margin-top: 17px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.social-media h5{
  color: var(--neutral-0-white, #FFF);
margin-top: 32px;
/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
}

.icon{
  width: 30px;
  height: 30px;
   background-color: #fff;
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 6px;
}

.iicon{
  margin-left: 0px;
}

.list-icon{
  display: flex;
  justify-content: start;
  margin-top: 16px;
}

.menu-1 .menu-footer {
  list-style-type: none;
  margin-top: 0px;
  padding: 0px;
  }

  .menu-footer li{
    margin-top: 16px;
    padding: 0px;
  }
  
  .menu-footer a{
    color: var(--text-secondary-text, #808080);
  
  text-decoration: none;
  
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  }
  
  .menu-footer-2 li{
    margin-top: 16px;
    padding: 0px;
  }
  
  .menu-footer-2{
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
  
  }
  
  
  
  
  .menu-footer-2 a{
    color: var(--text-secondary-text, #808080);
  text-decoration: none;
  list-style-type: none;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  
  }

  .email{
    margin-top: 0px;
  }

  .email h6{
    color: var(--neutral-0-white, #FFF);
  
  /* Font Website/Body 1/Medium */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height:
  140%; /* 28px */
  }

  .email p{
    color: var(--text-secondary-text, #808080);
  margin-top: 16px;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  }

  .footer-app{
    margin-top: 36px;
  }

  .footer-app p{
    color: var(--neutral-0-white, #FFF);
  padding: 0px;
  margin: 0px;
  /* Font Website/Body 1/Medium */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  }

  .footer-app .btn{
    color: var(--text-main-text, #121212);
  border-radius: 30px;
  padding: 6px 30px;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  margin-top: 16px;
  }

   
  hr{
    width: 100%;
  height: 3px;
  flex-shrink: 0;
  background: var(--text-secondary-text, #808080);
  }
  
  .terms{
   display: flex;
    justify-content: space-between;
    flex-flow: unset;
  margin-top: 14px;
  padding-bottom: 44px;
  margin-bottom: 0px;
  }
  
  .terms p{
    color: var(--text-secondary-text, #808080);
  margin: 0px;
  padding: 0px;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  }
  
  .terms span{
    color: var(--text-secondary-text, #808080);
  margin: 0px;
  padding: 0px;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  }
  

  


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

.container{
    max-width: 1200px;
}

.container-fluid {
  margin: 0px 81px;
 
}
.navbar-brand{
  color: var(--neutral-0-white, #FFF);
font-family: "Poppins";
font-size: 20.936px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 5px;
}


.nav-between{
  margin-top:28px;
  margin-bottom:0px
}

.nav-end{
  margin-top: 28px;
  margin-bottom: 0px;
}


.nav-between .link-2{
  margin: 0px 40px;
}

.nav-end .search{
  margin-left: 40px;
  margin-right: 0px;
}

.summer-history{
    display: flex;
    justify-content: center;
    flex-flow: column;
  
}


.text-history h1{
    color: var(--neutral-0-white, #FFF);
text-align: center;
margin-top: 170px;
/* Font Website/Display/Semi Bold */
font-family: "Inter";
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 100.8px */
padding: 0px;

}

.text-history p{
    color: var(--neutral-100, #E5E5E6);
text-align: center;
width: 1102px;
margin-top: 24px;
margin-bottom: 273px;
padding: 0px;
/* Font Website/H2/Regular */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */

}


.text-our h2{
    color: var(--text-main-text, #121212);
margin-top: 120px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-our p{
    color: var(--text-secondary-text, #808080);
text-align: center;
width: 1107px;
margin-top: 24px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

.img-our{
    display: flex;
    justify-content: space-between;
    margin: 62px auto;
    margin-bottom: 0px;
    padding: 0px;
}

.img-our .car-desert{
    width: 587.5px;
    height: 409px;
    flex-shrink: 0;
    border-radius: 16px;
background: url(image.yalla/car-desert.png), lightgray 50% / cover no-repeat;

}

.img-our .travell-road{
  margin-top: 0px;
    width: 587.5px;
    height: 409px;
    flex-shrink: 0;
    border-radius: 16px;
background: url(image.yalla/teavell-road.png), lightgray 50% / cover no-repeat;

}

.text-values h2{
    color: var(--text-main-text, #121212);
margin-top: 72px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-values p{
    color: var(--text-secondary-text, #808080);
text-align: center;
margin-top: 24px;
width: 1107px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

.text-values .img-values{
    display: flex;
    justify-content: space-between;
    margin: 62px auto;
    margin-bottom: 0px;
}

.visa-values{
    width: 350px;
height: 299px;
flex-shrink: 0;
border-radius: 16px;
background: url(image.yalla/visa-values.png), lightgray 50% / cover no-repeat;
}

.map{
    width: 452px;
height: 414px;
flex-shrink: 0;
border-radius: 16px;
background: url(image.yalla/map.png), lightgray 50% / cover no-repeat;
margin-top: 0px;
}

.airplane-values{
    width: 350px;
height: 299px;
flex-shrink: 0;
border-radius: 16px;
background: url(image.yalla/airplane-values.png), lightgray 50% / cover no-repeat;
margin-top: 0px;
}



.text-team h2{
    color: var(--text-main-text, #121212);
margin-top: 72px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-team p{
    color: var(--text-secondary-text, #808080);
text-align: center;
margin-top: 24px;
width: 1107px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

.person-1{
    background: url(image.yalla/person-1.png);
    width: 282px;
height: 364px;
flex-shrink: 0;
border-radius: 16px;

}

.person-2{
    background: url(image.yalla/person-2.png);
   width: 282px;
height: 364px;
flex-shrink: 0;
border-radius: 16px;

}



.person-3{
    background: url(image.yalla/person-3.png);
    width: 282px;
 height: 364px;
 flex-shrink: 0;
 border-radius: 16px;
 margin-top: 0px;
 
 }


 .person-4{
    background: url(image.yalla/person-4.png);
    width: 282px;
 height: 364px;
 flex-shrink: 0;
 border-radius: 16px;
 margin-top: 0px;
 
 }

 .team-1{
    justify-content: space-between;
    margin: 62px auto;
    margin-bottom: 0px;
 }
 
 .person{
    display: flex;
    justify-content: end;
    flex-flow: column;
    padding: 0px;
    margin: 0px;
 }

 .person .ceo{
    margin-bottom: 26px;
    margin-left: 24px;
    margin-top: 0px;
    padding: 0px;
 }

 .ceo h6{
    color: var(--neutral-0-white, #FFF);



/* Font Responsive/H2/Medium */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
 }

 .ceo p{
    color: var(--neutral-0-white, #FFF);
padding: 0px;
margin: 0px;
/* Font Website/Body 2/Regular */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 25.2px */
 }


 .team-2{
    justify-content: space-between;
    margin: 32px auto;
    margin-bottom: 0px;
 }

 .text-partner h2{
    color: var(--text-main-text, #121212);
margin-top: 94px;
    /* Font Website/H1/Semi Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 67.2px */
 }

 .text-partner p{
    color: var(--text-secondary-text, #808080);
margin-top: 24px;
margin-bottom: 0px;
padding: 0px;
/* Font Website/Body 1/Regular */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
 }
 
 .Partner-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 58px auto;
    margin-bottom: 0px;
 }


 .Partner-1 svg{
    width: 160px;
    height: 100px;

 }


 .Partner-2 svg{
    width: 160px;
    height: 100px;

 }

 .Partner-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 

footer{
    margin-top: 120px;
    
  }
  
  footer .row .col-12{
    margin-top: 56px;
    padding-bottom: 52px;
    text-align: start;
  }
  
  .yalla-footer {
    text-decoration: none;
    color: var(--neutral-0-white, #FFF);
  font-family: "Poppins";
  font-size: 24.988px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
  
  }
  
  .location{
    color: var(--text-secondary-text, #808080);
  margin-top: 17px;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  }
  
  .social-media h5{
    color: var(--neutral-0-white, #FFF);
  margin-top: 32px;
  /* Font Website/Body 1/Medium */
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  }
  
  .icon{
   width: 34px;
   height: 34px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .iicon{
    margin-left: 0px;
  }
  
  .list-icon{
    display: flex;
    justify-content: start;
    margin-top: 16px;
  }
  
  .menu-1 .menu-footer {
  list-style-type: none;
  margin-top: 0px;
  padding: 0px;
  }
  
  
  .menu-footer li{
    margin-top: 16px;
    padding: 0px;
  }
  
  
  .menu-footer a{
    color: var(--text-secondary-text, #808080);
  
  text-decoration: none;
  
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  }
  
  .menu-footer-2 li{
    margin-top: 16px;
    padding: 0px;
  }
  
  .menu-footer-2{
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
  
  }
  
  
  
  
  .menu-footer-2 a{
    color: var(--text-secondary-text, #808080);
  text-decoration: none;
  list-style-type: none;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  
  }
  
  .email{
    margin-top: 0px;
  }
  
  .email h6{
    color: var(--neutral-0-white, #FFF);
  
  /* Font Website/Body 1/Medium */
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height:
  140%; /* 28px */
  }
  
  .email p{
    color: var(--text-secondary-text, #808080);
  margin-top: 16px;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  }
  
  .footer-app{
    margin-top: 36px;
  }
  
  .footer-app p{
    color: var(--neutral-0-white, #FFF);
  padding: 0px;
  margin: 0px;
  /* Font Website/Body 1/Medium */
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  }
  
  .footer-app .btn{
    color: var(--text-main-text, #121212);
  border-radius: 30px;
  padding: 8px 56px;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  margin-top: 8px;
  }
  
  hr{
    width: 100%;
  height: 3px;
  flex-shrink: 0;
  background: var(--text-secondary-text, #808080);
  }
  
  .terms{
   display: flex;
    justify-content: space-between;
    flex-flow: unset;
  margin-top: 14px;
  padding-bottom: 55px;
  }
  
  .terms p{
    color: var(--text-secondary-text, #808080);
  margin: 0px;
  padding: 0px;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  }
  
  .terms span{
    color: var(--text-secondary-text, #808080);
  margin: 0px;
  padding: 0px;
  /* Font Website/Body 2/Medium */
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  }
  






 }

