

.nav-between li a{
    color: black;
        text-decoration: none;
    }
    
    .nav-between li{
        list-style-type: none;
    }
    
    .nav-end li a{
        text-decoration: none;
       
    }
    
    .nav-end li{
        list-style-type: none;
    }
    
    .nav-link{
        color: black;

/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
    }


    .nav-between{
        margin-top: 20px;
    }

    .nav-between .link-1{
        margin-right: 40px;
    }

    .nav-between .link-3{
        margin-left: 40px;
    }


    /* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 375px) { 

  .navbar-brand{
    margin: 0px;
    padding: 0px;
    color: #5137A6;
    font-family: "Poppins";
font-size: 20.936px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.container-fluid{
    display: flex;
    justify-content: space-between;
    /* align-items: unset !important; */
}


.navbar-toggler{
    padding: 0px;
    margin-left: 16px;
    
}


.nav-end .language{
    margin-left: 8px;
    
}

.nav-end .search{
   margin-left:16px;
}

  
.artical h1{
  color: var(--text-main-text, #121212);
text-align: center;
margin-top: 85px;
/* Font Website/Display/Semi Bold */
font-family: "Inter";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 100.8px */
}

.artical p{
  color: var(--text-secondary-text, #676879);
text-align: center;
margin-top: 24px;
/* Font Website/H2/Medium */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
margin-bottom: 0px;
}



.all-question{
  display: flex; 
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 0px;
}


.search-question{
  width: 306px;
  height: 48px;
  border-radius: 30px;
  background: var(--neutral-0-white, #FFF);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.08);
  justify-content: space-between;
align-items: center;



}



.img-search input{
  color: var(--text-secondary-text, #808080);
margin-left: 12px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */



}

.img-search svg {
  width: 16.887px;
  height: 17.268px;
  flex-shrink: 0;
  margin-bottom: 5px;
  margin-top: 0px;

}

.btn-img-search .btn{
border-radius: 20px;
padding: 8px 16px;
margin-left: 10px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
}






.blog-1 {
  margin-top: 57px;
  margin-left: 0px;
  
  
}

.blog-1 {
  background: url(image.yalla/blog-1.png);
  width: 100%;
height: auto;
border-radius: 16px;
  flex-shrink: 0;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.top-8{
  margin-top: 200px;
  width: 334px;
height: auto;
flex-shrink: 0;
border-radius: 16px;
background: var(--neutral-0-white, #FFF);
box-shadow: 0px 0px 104px 0px rgba(0, 0, 0, 0.04);

}

.top-8 .text-top-8{
  margin-left: 24px;
  margin-top: 23px;
  padding: 0px;
  margin-bottom: 0px;
}


.text-top-8 span{
  color: var(--text-secondary-text, #808080);
padding: 0px;
margin: 0px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */

}

.text-top-8 h3{
  width: 286px;
  color: var(--text-main-text, #121212);
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 44.8px */
margin-top: 18px;


}



.text-top-8 p{
  width: 286px;
  color: var(--text-secondary-text, #676879);
margin-top: 14px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
text-align: start;
margin-bottom: 0px;
}

.text-top-8 button{
  color: var(--neutral-0-white, #FFF);
text-align: center;
border-radius: 30px;
/* Font Responsive/Body 3/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
display: inline-flex;
padding: 16px 56px;
align-items: flex-start;
gap: 10px;
margin-top: 40px;
margin-bottom: 24px;
  
}



.card {
  border: 0px;
  
}

.how-travel{
  margin-top: 60px;
}

.how-travel .mousce-1{
  justify-content: space-between;
  margin: 0px auto;
}


.nov-13{
  width: 334px;

flex-shrink: 0;
border-radius: 16px;
}

.nov-13 img{
    
  width: 334px;
  height: 240px;
}

.nov-13 .card{
  width: 334px;
  border-radius: 0px 0px 16px 16px;
background: var(--neutral-0-white, #FFF);
box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.04);

}

.card-mousce{
  margin: 16px 16px;
}

.card-mousce .card-title{
  margin: 0px ;
  padding:0px ;
  color: var(--text-secondary-text, #808080);

/* Font Responsive/Body 3/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}

.card-mousce h3{
  color: var(--text-main-text, #121212);
margin-top: 16px;
/* Font Website/H2/Medium */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
width: 302px;
}

.card-mousce p{
  color: var(--text-secondary-text, #808080);
  width: 302px;
/* Font Responsive/Body 3/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
margin-bottom: 0px;
}

  
.how-travel .mousce-2{
  justify-content: space-between;
  margin: 24px auto;
  margin-bottom: 0px;

}


.oct-29{
  width: 334px;

flex-shrink: 0;
border-radius: 16px;
}

.oct-29 img{
  width: 334px;
  height: 240px

}

.oct-29 .card{
  width: 334px;
  border-radius: 0px 0px 16px 16px;
background: var(--neutral-0-white, #FFF);
box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.04);

}

.card-mousce{
  margin: 16px 16px;
}

.card-mousce .card-title{
  margin: 0px ;
  padding:0px ;
  color: var(--text-secondary-text, #808080);

/* Font Responsive/Body 3/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}

.card-mousce h3{
  color: var(--text-main-text, #121212);
margin-top: 16px;
/* Font Website/H2/Medium */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
}

.card-mousce p{
  color: var(--text-secondary-text, #808080);
margin-top: 0px;
/* Font Responsive/Body 3/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
margin-bottom: 0px;
}

.btn-how-travel{
  display: flex;
  justify-content: center;
  margin: 32px auto;
  margin-bottom: 0px;
}

.btn-how-travel button{
  border-radius: 30px;
text-align: center;
display: inline-flex;
padding: 16px 56px;
justify-content: center;
align-items: center;
gap: 10px;
/* Font Website/Body 1/Semi Bold */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 28px */
}

.traveller{
  margin-top: 60px;
}



.text-traveller h2{
  color: var(--text-main-text, #121212);
text-align: center;

/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.traveller .row{
  justify-content: space-around;
  margin: 32px auto;
  margin-bottom: 0px;
}


.guide-1{
  background: url(image.yalla/guide-1.png);
  width: 334px;
height: 370px;
flex-shrink: 0;
background-repeat: no-repeat;
border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 59.37%, rgba(0, 0, 0, 0.60) 96.35%), url(image.yalla/guide-1.png), lightgray 50% / cover no-repeat;
}

.guide-2{
  background: url(image.yalla/guide-2.png);
  width: 334px;
height: 370px;
flex-shrink: 0;
background-repeat: no-repeat;
border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 59.37%, rgba(0, 0, 0, 0.60) 96.35%), url(image.yalla/guide-2.png), lightgray 50% / cover no-repeat;
}

.guide-3{
  background: url(image.yalla/guide-3.png);
  width: 334px;
height: 370px;
flex-shrink: 0;
background-repeat: no-repeat;
border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 59.37%, rgba(0, 0, 0, 0.60) 96.35%), url(image.yalla/guide-3.png), lightgray 50% / cover no-repeat;
}


.guide{
display: flex;
justify-content: end;
flex-flow: column;
margin: 0px;
padding: 0px;

}


.text-guide{
margin: 38px 24px;
}

.text-guide p{
  color: var(--neutral-0-white, #FFF);
/* Font Website/H2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
margin: 0px;
padding: 0px;
}

.btn-traveller{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.btn-traveller button{
  color: var(--neutral-0-white, #FFF);
text-align: center;
padding: 16px 56px;
border-radius: 30px;
/* Font Website/Body 1/Semi Bold */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 28px */
}

.desert{
  margin-top: 60px;
}

 .desert-1{
  background: url(image.yalla/desert.png);
  width: 100%;
  height: auto;
  flex-shrink: 0;
flex-shrink: 0;
background-repeat: no-repeat;
display: flex;
justify-content: space-evenly;
border-radius: 16px;


}


 .text-desert{
 padding: 53px 0px;
 margin: 0px;
} 

.text-desert h2{
  color: var(--neutral-0-white, #FFF);
text-align:center;

/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-desert p{
  color: var(--neutral-0-white, #FFF);
  width: 334px;
margin-top: 15px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
margin-bottom: 32px;
}

.search-desert{
   width: 337px;
  height: 48px;
  border-radius: 30px;
background: var(--neutral-0-white, #FFF);
justify-content:space-between;
display: flex;
text-align: center;
align-items: center;
padding-left: 14px;
padding-right: 6px;

}



.search-desert input{
  
border:0px;

/* Font Responsive/Body 3/Regular */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
}



.text-desert button{
  border-radius: 20px;
text-align: center;
padding:8px 16px;

align-items: center;
gap: 10px;

/* Font Responsive/Body 3/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
}


  
footer{
  margin-top: 60px;
  text-align: center;
}

footer .title-yalla{
  margin-top: 32px;
}




.yalla-footer {
  text-decoration: none;
  color: var(--neutral-0-white, #FFF);
font-family: "Poppins";
font-size: 20.988px;
font-style: normal;
font-weight: 700;
line-height: normal;


}
.location{
  color: var(--text-secondary-text, #808080);
margin-top: 21px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */

}

.social-media h5{
  color: var(--neutral-0-white, #FFF);
margin-top: 32px;
/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */

}


.icon{
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.iicon{
  margin-left: 77px;
  
}

.list-icon{
  display: flex;
  justify-content: start;
  margin-top: 16px;
}


.menu-footer {
list-style-type: none;
margin-top: 34px;
padding: 0px;
}

.menu-footer li{
  margin-top: 13px;
  padding: 0px;
  
}

.menu-footer a{
  color: var(--text-secondary-text, #808080);
text-decoration: none;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.menu-footer-2{
  list-style-type: none;
  margin-top: 15px;
  padding: 0px;
}


.menu-footer-2 li{
  margin-top: 13px;
  padding: 0px;
}

.menu-footer-2 a{
  color: var(--text-secondary-text, #808080);
text-decoration: none;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */

}

.email{
  margin-top: 20px;
}

.email h6{
  color: var(--neutral-0-white, #FFF);

/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height:
140%; /* 28px */
}

.email p{
  color: var(--text-secondary-text, #808080);
margin-top: 16px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.footer-app{
  margin-top: 36px;
  padding-bottom: 62px;
}

.footer-app p{
  color: var(--neutral-0-white, #FFF);
padding: 0px;
margin: 0px;
/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
}

.footer-app .btn{
  color: var(--text-main-text, #121212);
border-radius: 30px;
padding: 15px 56px;
/* Font Website/Body 2/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
margin-top: 16px;
}


hr{
  width: 100%;
height: 3px;
flex-shrink: 0;
background: #808080;

}

.terms{
 margin-top: 9px;
 justify-content: center;
 flex-flow: column-reverse;
 padding-bottom: 17px;
}




.terms p{
  color: var(--text-secondary-text, #808080);
margin-top: 33px;

/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.terms span{
  color: var(--text-secondary-text, #808080);
margin-top: 0px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */



}




}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    
  .artical h1{
    color: var(--text-main-text, #121212);
text-align: center;
margin-top: 71px;
/* Font Website/Display/Semi Bold */
font-family: "Inter";
font-size: 62px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 100.8px */
}
.artical p{
  color: var(--text-secondary-text, #808080);
text-align: center;
margin-top: 16px;
/* Font Website/H2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
margin-bottom: 0px;

}

.all-question{
  display: flex; 
  justify-content: center;
  margin-top: 46px;
  margin-bottom: 0px;
}


.search-question{
  width: 600px;
  height: 44px;
  border-radius: 30px;
  background: var(--neutral-0-white, #FFF);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.08);
  justify-content: space-between;
align-items: center;
text-align: center;
 padding: 0px 10px 3px 24px;
  

}

.img-search input{
  color: var(--text-secondary-text, #808080);
margin:0px 0px 0px 12px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */

}


.btn-img-search .btn{
  color: var(--neutral-0-white, #FFF);

border-radius: 30px;
padding: 8px 32px;

/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

.img-search svg {
  width:18px;
  height: 18px;
  flex-shrink: 0;

}





 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .container{
        max-width: 1200px;
    }


    .container-fluid{
        margin: 0px 81px;
    }
    
    nav-end .flag{
        margin-left: 8px;
    }
    
    .nav-end .language{
        margin-left: 8px;
    }
    
    .nav-end .search{
        margin-left: 40px;
    }
    
    .nav-end {
        margin-top: 20px;
    }


    .navbar-brand{
        margin-top: 20px;
      
    }

    .navbar-brand{
      color: black;
font-family: "Poppins";
font-size: 20.936px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .nav-link:hover{
    color: black;
  }

    
    .artical h1{
        color: var(--text-main-text, #121212);
text-align: center;
margin-top: 91px;
/* Font Website/Display/Semi Bold */
font-family: "Inter";
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 100.8px */
    }

    .artical p{
        color: var(--text-secondary-text, #808080);
text-align: center;
margin-top: 16px;
/* Font Website/H2/Medium */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
margin-bottom: 0px;

    }

    .all-question{
      display: flex; 
      justify-content: center;
      margin-top: 56px;
      margin-bottom: 0px;
    }


    .search-question{
      width: 620px;
      height: 64px;
      border-radius: 30px;
      background: var(--neutral-0-white, #FFF);
      box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.08);
      justify-content: space-between;
    align-items: center;
    text-align: center;
     padding: 0px 10px 3px 24px;
      

    }

   

    .img-search input{
      color: var(--text-secondary-text, #808080);
margin:0px 0px 0px 12px;
/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */


    }

    .btn-img-search .btn{
      color: var(--neutral-0-white, #FFF);

border-radius: 30px;
padding: 8px 32px;

/* Font Website/Body 1/Regular */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
    }

    .img-search svg {
      width:21px;
      height: 21px;
      flex-shrink: 0;
    
    }
    

   

 






  .blog-1 {
    margin-top: 76px;
    margin-left: 40px;
    
    
  }

  .blog-1 {
    background: url(image.yalla/blog-1.png);
    width: 1200px;
    height: 512px;
    flex-shrink: 0;
    justify-content: end;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .top-8{
    margin-top: 58px;
    width: 610px;
height: 397px;
flex-shrink: 0;
border-radius: 16px;
background: var(--neutral-0-white, #FFF);
box-shadow: 0px 0px 104px 0px rgba(0, 0, 0, 0.04);

  }

  .top-8 .text-top-8{
    padding: 0px 32px;
    margin-top: 32px;
    
    margin-bottom: 0px;
  }

  .text-top-8 span{
    color: var(--text-secondary-text, #808080);
padding: 0px;
margin: 0px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
  }

  .text-top-8 h3{
   width: 536px;
    color: var(--text-main-text, #121212);
font-family: "Inter";
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 44.8px */
margin-top: 26px;

  }

  .text-top-8 p{
  width: 531px;
    color: var(--text-secondary-text, #808080);
margin-top: 24px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
text-align: start;
margin-bottom: 0px;
  }

  .text-top-8 button{
    color: var(--neutral-0-white, #FFF);
text-align: center;
border-radius: 30px;
/* Font Responsive/Body 3/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
display: inline-flex;
padding: 14px 24px;
align-items: flex-start;
gap: 10px;
margin-top: 44px;
margin-bottom: 0px;
    
  }

  .card {
    border: 0px;
  }

  .how-travel{
    margin-top: 80px;
  }

  .how-travel .mousce-1{
    justify-content: space-between;
    margin: 0px auto;
    margin-bottom: 0px;
  }

  .nov-13{
    width: 378px;

flex-shrink: 0;
border-radius: 16px;
  }

  .nov-13 img{
    
    width: 378px;
    height: 272px;
  }

  .nov-13 .card{
    width: 378px;
    border-radius: 0px 0px 16px 16px;
background: var(--neutral-0-white, #FFF);
box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.04);

  }

  .card-mousce{
    margin: 24px 24px;
  }

  .card-mousce .card-title{
    margin: 0px ;
    padding:0px ;
    color: var(--text-secondary-text, #808080);

/* Font Responsive/Body 3/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
  }

  .card-mousce h3{
    color: var(--text-main-text, #121212);
margin-top: 16px;
/* Font Website/H2/Medium */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
width: 323px;
  }

  .card-mousce p{
    color: var(--text-secondary-text, #808080);
margin-top: 24px;
/* Font Responsive/Body 3/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
margin-bottom: 0px;
width: 330px;
  }


  
  .how-travel .mousce-2{
    justify-content: space-between;
    margin: 24px auto;
    margin-bottom: 0px;

  }

  .oct-29{
    width: 378px;

flex-shrink: 0;
border-radius: 16px;
  }

  .oct-29 img{
    width: 378px;
    height: 272px;
  }

  .oct-29 .card{
    width: 378px;
    border-radius: 0px 0px 16px 16px;
background: var(--neutral-0-white, #FFF);
box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.04);

  }

  .card-mousce{
    margin: 24px 24px;
  }

  .card-mousce .card-title{
    margin: 0px ;
    padding:0px ;
    color: var(--text-secondary-text, #808080);

/* Font Responsive/Body 3/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
  }

  .card-mousce h3{
    color: var(--text-main-text, #121212);
margin-top: 16px;
/* Font Website/H2/Medium */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
  }

  .card-mousce p{
    color: var(--text-secondary-text, #808080);
margin-top: 24px;
/* Font Responsive/Body 3/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
margin-bottom: 0px;
  }

  .btn-how-travel{
    display: flex;
    justify-content: center;
    margin: 56px auto;
    margin-bottom: 0px;
  }

  .btn-how-travel button{
    border-radius: 30px;
text-align: center;
display: inline-flex;
padding: 14px 40px;
justify-content: center;
align-items: center;
gap: 10px;
/* Font Website/Body 1/Semi Bold */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 28px */
  }



  .traveller{
    margin-top: 116px;
  }






  .text-traveller h2{
    color: var(--text-main-text, #121212);
text-align: center;

/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
  }

  .traveller .row{
    justify-content: space-between;
    margin: 47px auto;
    margin-bottom: 0px;
  }

  .guide-1{
    background: url(image.yalla/guide-1.png);
    width: 378px;
height: 418px;
flex-shrink: 0;
background-repeat: no-repeat;
border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 59.37%, rgba(0, 0, 0, 0.60) 96.35%), url(image.yalla/guide-1.png), lightgray 50% / cover no-repeat;
  }

  .guide-2{
    background: url(image.yalla/guide-2.png);
    width: 378px;
height: 418px;
flex-shrink: 0;
background-repeat: no-repeat;
border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 59.37%, rgba(0, 0, 0, 0.60) 96.35%), url(image.yalla/guide-2.png), lightgray 50% / cover no-repeat;
  }

  .guide-3{
    background: url(image.yalla/guide-3.png);
    width: 378px;
height: 418px;
flex-shrink: 0;
background-repeat: no-repeat;
border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 59.37%, rgba(0, 0, 0, 0.60) 96.35%), url(image.yalla/guide-3.png), lightgray 50% / cover no-repeat;
  }

 
.guide{
  display: flex;
  justify-content: end;
  flex-flow: column;
  margin: 0px;
  padding: 0px;
  
}


.text-guide{
margin: 32px 24px;
}

  .text-guide p{
    color: var(--neutral-0-white, #FFF);
/* Font Website/H2/Medium */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
margin: 0px;
padding: 0px;
  }

  .btn-traveller{
    display: flex;
    justify-content: center;
    margin-top: 56px;
  }

  .btn-traveller button{
    color: var(--neutral-0-white, #FFF);
text-align: center;
padding: 14px 40px;
border-radius: 30px;
/* Font Website/Body 1/Semi Bold */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 28px */
  }

  .desert{
    margin-top: 116px;
  }

  .desert-1{
    background: url(image.yalla/desert.png);
    width: 100%;
height: auto;
flex-shrink: 0;
background-repeat: no-repeat;
display: flex;
justify-content: end;
border-radius: 16px;

}

.text-desert{
  padding: 62px 78px;
  margin: 0px;
} 

.text-desert h2{
  color: var(--neutral-0-white, #FFF);
text-align: center;

/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-desert p{
  color: var(--neutral-0-white, #FFF);
width:549px;
margin-top: 15px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.search-desert{
  width: 543px;
  height: 58px;
  border-radius: 30px;
background: var(--neutral-0-white, #FFF);
justify-content:space-between;
display: flex;
padding: 0px 8px 0px 22px;
align-items: center;

}

.search-desert input{
  
border: 0px;

/* Font Responsive/Body 3/Regular */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}




.btn-desert button{
  border-radius: 30px;


padding: 10px 24px;

align-items: center;

/* Font Responsive/Body 3/Medium */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
}



footer{
  margin-top: 120px;
  
}

footer .row .col-12{
  margin-top: 56px;
  padding-bottom: 52px;
  text-align: start;
}

.yalla-footer {
  text-decoration: none;
  color: var(--neutral-0-white, #FFF);
font-family: "Poppins";
font-size: 24.988px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0px;

}

.location{
  color: var(--text-secondary-text, #808080);
margin-top: 17px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.social-media h5{
  color: var(--neutral-0-white, #FFF);
margin-top: 32px;
/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
}

.icon{
 width: 34px;
 height: 34px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.iicon{
  margin-left: 0px;
}

.list-icon{
  display: flex;
  justify-content: start;
  margin-top: 16px;
}

.menu-1 .menu-footer {
list-style-type: none;
margin-top: 0px;
padding: 0px;
}


.menu-footer li{
  margin-top: 16px;
  padding: 0px;
}


.menu-footer a{
  color: var(--text-secondary-text, #808080);

text-decoration: none;

/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.menu-footer-2 li{
  margin-top: 16px;
  padding: 0px;
}

.menu-footer-2{
  list-style-type: none;
  margin-top: 0px;
  padding: 0px;

}




.menu-footer-2 a{
  color: var(--text-secondary-text, #808080);
text-decoration: none;
list-style-type: none;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */

}

.email{
  margin-top: 0px;
}

.email h6{
  color: var(--neutral-0-white, #FFF);

/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height:
140%; /* 28px */
}

.email p{
  color: var(--text-secondary-text, #808080);
margin-top: 16px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.footer-app{
  margin-top: 36px;
}

.footer-app p{
  color: var(--neutral-0-white, #FFF);
padding: 0px;
margin: 0px;
/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
}

.footer-app .btn{
  color: var(--text-main-text, #121212);
border-radius: 30px;
padding: 8px 56px;
/* Font Website/Body 2/Medium */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
margin-top: 8px;
}

hr{
  width: 100%;
height: 3px;
flex-shrink: 0;
background: var(--text-secondary-text, #808080);
}

.terms{
 display: flex;
  justify-content: space-between;
  flex-flow: unset;
margin-top: 14px;
padding-bottom: 55px;
}

.terms p{
  color: var(--text-secondary-text, #808080);
margin: 0px;
padding: 0px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.terms span{
  color: var(--text-secondary-text, #808080);
margin: 0px;
padding: 0px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}




































}