
.main-1{
    background: url(image.yalla/hero-package.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}



.nav-between li a{
    color: white;
        text-decoration: none;
    }
    
    .nav-between li{
        list-style-type: none;
    }
    
    .nav-end li a{
        text-decoration: none;
       
    }
    
    .nav-end li{
        list-style-type: none;
    }
    
    .nav-link{
        color: var(--neutral-0-white, #FFF);

/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
    }


    .nav-between{
        margin-top: 20px;
    }

    .nav-between .link-1{
        margin-right: 40px;
    }

    .nav-between .link-3{
        margin-left: 40px;
    }

    .navbar-brand{
        color: var(--neutral-0-white, #FFF);
font-family: "Poppins";
font-size: 20.936px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }


    
    
    /* X-Small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap*/
    
    /* Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) { }
    
    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {}
    
    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {}
    
    /* X-Large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) { 

        .container{
    max-width: 1200px;
}


.container-fluid{
    margin: 0px 81px;
}

nav-end .flag{
    margin-left: 8px;
}

.nav-end .language{
    margin-left: 8px;
}

.nav-end .search{
    margin-left: 40px;
}

.nav-end {
    margin-top: 20px;
}

.navbar-brand{
    margin-top: 20px;
}


.main-1 .container{
    margin-right:46px;
    margin-top: 105px;
   
    
}

.hero h1{
    color: var(--neutral-0-white, #FFF);

/* Font Website/Display/Semi Bold */
font-family: "Inter";
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 100.8px */
}

.hero p{
    color: var(--neutral-100, #E5E5E6);
margin-top: 32px;
/* Font Website/H2/Regular */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */
}

.hero button{
    color: var(--neutral-0-white, #FFF);
text-align: center;
padding: 14px 40px;
border-radius: 30px;
margin-top: 40px;
/* Font Website/Body 1/Medium */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
}



.hero .parg-2 {
    color: var(--neutral-100, #E5E5E6);
margin-top: 64px;
margin-bottom: 0px;
/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
padding-bottom:20px ;

}

.text-main-2 h2{
    color: var(--text-main-text, #121212);
margin-top: 56px;
padding: 0px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.text-main-2 p{
    color: var(--text-secondary-text, #808080);
margin-top: 15px;
/* Font Website/H2/Regular */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */
}


.main-2 .row{
    justify-content: space-between;
    margin:51px auto;
    margin-bottom: 0px;
}

.main-2 .reel-travel-1{
    background: url(image.yalla/package-reel-1.png);
    background-repeat: no-repeat;
    width: 276px;
height: 312px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.60) 100%), url(image.yalla/package-reel-1.png), lightgray -154.222px 0px / 201.61% 100.321% no-repeat;
padding: 0px;
}


.main-2 .reel-travel-2{
    background: url(image.yalla/package-reel-2.png);
    background-repeat: no-repeat;
    width: 276px;
height: 312px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.60) 100%), url(image.yalla/package-reel-2.png), lightgray -154.222px 0px / 201.61% 100.321% no-repeat;
padding: 0px;
}

.main-2 .reel-travel-3{
    background: url(image.yalla/package-reel-3.png);
    background-repeat: no-repeat;
    width: 276px;
height: 312px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.60) 100%), url(image.yalla/package-reel-3.png), lightgray -154.222px 0px / 201.61% 100.321% no-repeat;
padding: 0px;
}

.main-2 .reel-travel-4{
    background: url(image.yalla/package-reel-4.png);
    background-repeat: no-repeat;
    width: 276px;
height: 312px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.60) 100%), url(image.yalla/package-reel-4.png), lightgray -154.222px 0px / 201.61% 100.321% no-repeat;
padding: 0px;

}

.main-2 .travel-style{
    display: flex;
    justify-content: end;
    flex-flow: column;
   
}



.main-2 .text-travel {
    color: var(--neutral-0-white, #FFF);
margin-bottom: 22px;

/* Font Responsive/H 1/Semi Bold */
font-family: "Inter";
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 39.2px */

}




    
    }